{% extends "base.html" %}


{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Elements</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Worker Form</h5>

                        <!-- General Form Elements -->
                        <form>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Full Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputNumber" class="col-sm-2 col-form-label">Cv</label>
                                <div class="col-sm-10">
                                    <input class="form-control" type="file" id="formFile">
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label for="inputDate" class="col-sm-2 col-form-label">Date Of Birth</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                            <br>
                            <fieldset class="row mb-3">
                                <legend class="col-form-label col-sm-2 pt-0">Experience Level</legend>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                               id="gridRadios1" value="option1" checked>
                                        <label class="form-check-label" for="gridRadios1">
                                            Junior
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                               id="gridRadios2" value="option2">
                                        <label class="form-check-label" for="gridRadios2">
                                            Low Mid Level
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                               id="gridRadios3" value="option2">
                                        <label class="form-check-label" for="gridRadios3">
                                            High Mid Level
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gridRadios"
                                               id="gridRadios4" value="option4">
                                        <label class="form-check-label" for="gridRadios4">
                                            Senior
                                        </label>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Residence</label>
                                <div class="col-sm-10">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>----------</option>
                                        <option value="1">Syria</option>
                                        <option value="2">Lebanon</option>
                                        <option value="3">Jordon</option>
                                        <option value="4">UAE</option>
                                        <option value="5">Saudi Arabia</option>
                                        <option value="6">Turkey</option>
                                        <option value="7">Germany</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Education</label>
                                <div class="col-sm-10">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">Network</option>
                                        <option value="2">Software</option>
                                        <option value="3">Accountant</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Expert with</label>
                                <div class="col-sm-10">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">ASP.NET</option>
                                        <option value="2">Django</option>
                                        <option value="3">AWS</option>
                                        <option value="4">Node.js</option>
                                        <option value="5">React</option>
                                        <option value="6">Angular</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Positions held</label>
                                <div class="col-sm-10">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">Backend Developer</option>
                                        <option value="2">Frontend Developer</option>
                                        <option value="3">Database Administration</option>
                                        <option value="3">CTO</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Add worker</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->


{% endblock content %}


