{% extends "dashboard-base.html" %}


{% block content %}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Workers Table</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item"><a href={% url 'management:dashboard' %}>Dashobard</a></li>
                    <li class="breadcrumb-item"><a href={% url 'workers:list' %}>Workers</a></li>
                </ol>
            </nav>
        </div>

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">

                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col" data-sortable="false">#</th>
                                    <th scope="col" data-sortable="false">Status</th>
                                    <th scope="col" data-sortable="false">First Name</th>
                                    <th scope="col" data-sortable="false">Last Name</th>
                                    <th scope="col" data-sortable="false">Email</th>
                                    <th scope="col" data-sortable="false">Education</th>
                                    <th scope="col" data-sortable="false">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for worker in object_list %}
                                    <tr>

                                        <th scope="row">{{ worker.id }}</th>
                                        <td>
                                            {% if worker.status == "OCCUPIED" %}
                                                <span class="badge bg-success">
                                            {% elif worker.status == "FREE" %}
                                                <span class="badge bg-danger">
                                            {% endif %}
                                            {{ worker.status }}
                                            </span>
                                        </td>

                                        <td>{{ worker.first_name }}</td>
                                        <td>{{ worker.last_name }}</td>
                                        <td>{{ worker.email }}</td>
                                        <td>
                                            {% if worker.education %}
                                                {{ worker.education }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href={% url 'workers:details' worker.id %}>
                                                <i class="bi bi-eye-fill"></i>
                                            </a>&nbsp;&nbsp;

                                            <a href={% url 'workers:update' worker.id %}>
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>&nbsp;&nbsp;

                                            <a href={% url 'workers:delete' worker.id %}>
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock content %}
