{% extends "base.html" %}
{% load static %}



{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item"><a href={% url 'tasks:list' %}>Tasks</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            <i class="bx bxl-flutter" style="font-size: 350px;"></i>
                            <h2>Flutter</h2>
                            <h3>Mobile Development</h3>

                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">
                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Task overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">Assign to Worker
                                    </button>
                                </li>
                            </ul>

                            <div class="tab-content pt-2">
                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <h5 class="card-title">Fix Slow Query</h5>
                                    <p class="small fst-italic">in some services insert took too much time try to find a
                                        way to optimize this query for big data.</p>

                                    <h5 class="card-title">Task Detials</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Department</div>
                                        <div class="col-lg-9 col-md-8">Web</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Level</div>
                                        <div class="col-lg-9 col-md-8">Senior</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Category</div>
                                        <div class="col-lg-9 col-md-8">
                                            Database - administration - linux
                                            django - python - devops - docker.
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Deadline</div>
                                        <div class="col-lg-9 col-md-8">25-10-2023</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Education</div>
                                        <div class="col-lg-9 col-md-8">Software Engineering</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Status</div>
                                        <div class="col-lg-9 col-md-8">Progress</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Assigned To</div>
                                        <div class="col-lg-9 col-md-8">No one</div>
                                    </div>
                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <!-- Change Password Form -->
                                    <form>
                                        <div class="row mb-3">
                                            <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Choose
                                                Worker</label>
                                            <div class="col-md-8 col-lg-9">
                                                <select class="form-select" aria-label="Default select example">
                                                    <option selected>----------</option>
                                                    <option value="1">Ali</option>
                                                    <option value="2">Ahmad</option>
                                                    <option value="3">Alaa</option>
                                                    <option value="4">Mage</option>
                                                    <option value="5">Tommy</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-danger">Assign Task</button>
                                        </div>
                                    </form><!-- End Change Password Form -->

                                </div>
                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock content %}

