{% extends "dashboard-base.html" %}


{% block content %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Modal</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item"><a href={% url 'categories:list' %}>Categories</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><i class="bi bi-trash-fill"></i> Delete Category</h5>
                            <p>Are you sure you want to delete category {{ category.name }}</p>

                            <form method="POST">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" data-bs-toggle="modal"
                                       data-bs-target="#basicModal" value="Delete Department"/>
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                &nbsp;

                                <button
                                        class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#basicModal">
                                    Back to Table
                                </button>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </main><!-- End #main -->


{% endblock content %}
