{% extends "site-base.html" %}
{% load static %}


{% block content %}

    <main id="main" class="main">
        <!-- ======= Contact Section ======= -->

        <section id="contact" class="contact" style="margin-top: 5%;">
            <div class="container">

                <div class="section-title" data-aos="fade-up">
                    <h2>Contact Us</h2>
                </div>

                <div class="row" style="margin-top: 10%;">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="contact-about">
                            <h4>Reach Out to Our Dedicated Team</h4>
                            <p>
                                Contact Us - Reach Out to Our Dedicated Team
                                We value your feedback, inquiries, and collaboration opportunities. Our dedicated team
                                at Max-Matching is here to assist you in every way possible. Whether you have
                                questions about our products, services, or you're seeking partnership opportunities,
                                we're just a message away.</p>

                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                        <div class="info">
                            <div>
                                <i class="ri-map-pin-line"></i>
                                <p>Dubai- Al Maarifa Village <br> office F02- 1st Block13</p>

                            </div>

                            <div>
                                <i class="ri-mail-send-line"></i>
                                <p>tc_dubai@svuonline.org</p>
                            </div>

                            <div>
                                <i class="ri-phone-line"></i>
                                <p>+971 555538531</p>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                        <form action="{% url 'management:contact-us' %}" method="post">

                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.name }}

                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.subject }}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.message }}
                            </div>
                            <br>
                            <div class="my-3">
                                {% if message %}
                                    <div class="alert alert-primary bg-primary text-light border-0 alert-dismissible fade show"
                                         role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->


    </main>


{% endblock content %}

