{% extends "base.html" %}
{% load static %}

{% block content %}


    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!-- Left side columns -->
                <div class="col-lg-8">
                    <div class="row">
                        <!-- Workers Card -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">Workers<span></span></h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-badge-fill"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>4431</h6>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div><!-- End Workers Card -->

                        <!-- Tasks Card -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card info-card revenue-card">
                                <div class="card-body">
                                    <h5 class="card-title">Tasks <span></span></h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-wrench-adjustable"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>264</h6>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div><!-- End Tasks Card -->

                        <!-- Departments Card -->
                        <div class="col-xxl-3 col-xl-6">
                            <div class="card info-card customers-card">
                                <div class="card-body">
                                    <h5 class="card-title">Departments</h5>

                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-building-fill-check"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>124</h6>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div><!-- End Departments Card -->

                        <!-- Positions Card -->
                        <div class="col-xxl-3 col-md-6">
                            <div class="card info-card sales-card">
                                <div class="card-body">
                                    <h5 class="card-title">Positions<span></span></h5>
                                    <div class="d-flex align-items-center">
                                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                            <i class="bi bi-person-workspace"></i>
                                        </div>
                                        <div class="ps-3">
                                            <h6>145</h6>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div><!-- End Positions Card -->

                        <!-- Chart -->
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Reports <span>/Today</span></h5>
                                    <!-- Line Chart -->
                                    <div id="reportsChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#reportsChart"), {
                                                series: [
                                                    {
                                                        name: 'Mobile',
                                                        data: [31, 40, 28, 51, 42, 82, 56],
                                                    },
                                                    {
                                                        name: 'Backend',
                                                        data: [11, 32, 45, 32, 34, 52, 41]
                                                    },
                                                    {
                                                        name: 'Front-end',
                                                        data: [15, 11, 32, 18, 9, 24, 11]
                                                    },
                                                    {
                                                        name: 'Devops',
                                                        data: [12, 9, 4, 4, 11, 12, 7]
                                                    },
                                                    {
                                                        name: 'ERP',
                                                        data: [19, 12, 22, 11, 41, 22, 7]
                                                    }
                                                ],
                                                chart: {
                                                    height: 350,
                                                    type: 'area',
                                                    toolbar: {
                                                        show: false
                                                    },
                                                },
                                                markers: {
                                                    size: 4
                                                },
                                                colors: ['#4154f1', '#2eca6a', '#ff771d', '#b21b8d', '#0099ff', '#ffff00'],
                                                fill: {
                                                    type: "gradient",
                                                    gradient: {
                                                        shadeIntensity: 1,
                                                        opacityFrom: 0.3,
                                                        opacityTo: 0.4,
                                                        stops: [0, 90, 100]
                                                    }
                                                },
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                stroke: {
                                                    curve: 'smooth',
                                                    width: 2
                                                },
                                                xaxis: {
                                                    type: 'datetime',
                                                    categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                                },
                                                tooltip: {
                                                    x: {
                                                        format: 'dd/MM/yy HH:mm'
                                                    },
                                                }
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Line Chart -->
                                </div>

                            </div>
                        </div><!-- End Chart -->

                    </div>
                </div><!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-4">
                    <!-- Website Traffic -->
                    <div class="card">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Tasks Per Department<span></span></h5>

                            <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#pieChart"), {
                                        series: [44, 55, 13, 43, 22,],
                                        chart: {
                                            height: 350,
                                            type: 'pie',
                                            toolbar: {
                                                show: true
                                            }
                                        },
                                        labels: [
                                            'Software',
                                            'Hardware',
                                            'Marketing',
                                            'Data Analysis',
                                            'Others',
                                        ]
                                    }).render();
                                });
                            </script>

                        </div>
                    </div><!-- End Website Traffic -->
                </div><!-- End Right side columns -->
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Top 5 Workers <span>| This month</span></h5>

                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Worker Id</th>
                                    <th scope="col">Worker Name</th>
                                    <th scope="col">Degree</th>
                                    <th scope="col">Education</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <th scope="row">
                                        <a href="#"><img src="{% static 'img/profile-img.jpg' %}" alt=""></a>
                                    </th>
                                    <td><a href="#" class="text-primary fw-bold">231 </a></td>
                                    <td>ALi Askar</td>
                                    <td class="fw-bold">25</td>
                                    <td>Software Engineer</td>
                                </tr>

                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->
            </div>

            <div class="row">
                <div class="card top-selling overflow-auto">

                    <div class="card-body pb-0">
                        <h5 class="card-title"> Most 10 Requested Technologies <span>| This Year</span></h5>
                        <table class="table table-borderless">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Technology Name</th>
                                <th scope="col">short description</th>
                                <th scope="col">Type</th>
                                <th scope="col">number of tasks</th>
                                <th scope="col">employess works on</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"><a> <i class="bx  bxl-aws" style="font-size: 35px;"></i></a>
                                </th>
                                <td>AWS</td>
                                <td><a href="#" class="text-primary fw-bold">cloud of services</a></td>
                                <td class="fw-bold">Cloud</td>
                                <td>400</td>
                                <td>120 / 124</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-django" style="font-size: 35px;"></i></a>
                                </th>
                                <td>Django</td>
                                <td><a href="#" class="text-primary fw-bold">python framework </a></td>
                                <td class="fw-bold">Backend</td>
                                <td>120</td>
                                <td>13 / 200</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-docker" style="font-size: 35px;"></i></a>
                                </th>
                                <td>Docker</td>
                                <td><a href="#" class="text-primary fw-bold">Deploy network</a></td>
                                <td class="fw-bold">Devops</td>
                                <td>220</td>
                                <td>130 / 150</td>
                            </tr>


                            <tr>
                                <th scope="row"><a> <i class="bx bxl-javascript"
                                                       style="font-size: 35px;"></i></a></th>
                                <td>JavaScript</td>
                                <td><a href="#" class="text-primary fw-bold">Programming language</a></td>
                                <td class="fw-bold">Programming</td>
                                <td>600</td>
                                <td>45 / 50</td>
                            </tr>


                            <tr>
                                <th scope="row"><a> <i class="bx bxl-react" style="font-size: 35px;"></i></a>
                                </th>
                                <td>React</td>
                                <td><a href="#" class="text-primary fw-bold">frontend library facebook</a></td>
                                <td class="fw-bold">Frontend</td>
                                <td>1002</td>
                                <td>92 / 100</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-php" style="font-size: 35px;"></i></a></th>
                                <td>PHP</td>
                                <td><a href="#" class="text-primary fw-bold">Programming language</a></td>
                                <td class="fw-bold">WEB Programming</td>
                                <td>1500</td>
                                <td>80 / 140</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-vuejs" style="font-size: 35px;"></i></a>
                                </th>
                                <td>Vue.js</td>
                                <td><a href="#" class="text-primary fw-bold">frontend library facebook</a></td>
                                <td class="fw-bold">Frontend</td>
                                <td>1002</td>
                                <td>92 / 100</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-android" style="font-size: 35px;"></i></a>
                                </th>
                                <td>android</td>
                                <td><a href="#" class="text-primary fw-bold">Java & Kotlin</a></td>
                                <td class="fw-bold">Mobile</td>
                                <td>1500</td>
                                <td>192 / 200</td>
                            </tr>

                            <tr>
                                <th scope="row"><a> <i class="bx bxl-flutter" style="font-size: 35px;"></i></a>
                                </th>
                                <td>Flutter</td>
                                <td><a href="#" class="text-primary fw-bold">Dart by google</a></td>
                                <td class="fw-bold">Mobile</td>
                                <td>1500</td>
                                <td>200 / 200</td>
                            </tr>
                            <tr>
                                <th scope="row"><a> <i class="bx bxl-kubernetes"
                                                       style="font-size: 35px;"></i></a></th>
                                <td>Kubernetes</td>
                                <td><a href="#" class="text-primary fw-bold">Deploy network</a></td>
                                <td class="fw-bold">Devops</td>
                                <td>220</td>
                                <td>130 / 150</td>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>

        </section>

    </main><!-- End #main -->


{% endblock content %}
