{% extends "dashboard-base.html" %}
{% load static %}

{% block content %}

    <main id="main" class="main">


        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <!-- Workers Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Workers<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href={% url 'workers:list' %}> <i class="bi bi-person-badge-fill"></i></a>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ workers_count }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Workers Card -->

                <!-- Tasks Tasks -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Tasks <span></span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href={% url 'tasks:list' %}><i class="bi bi-wrench-adjustable"></i></a>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ tasks_count }}</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- End Tasks Card -->


                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Categories<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <a href={% url 'categories:list' %}> <i class="bi bi-tags-fill"></i></a>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ categories_count }}</h6>
                                </div>

                            </div>

                        </div>

                    </div>
                </div><!-- End Positions Card -->

            </div>
            <div class="row">
                <div class="col-xxl-8 col-md-12">
                    <div class="card top-selling overflow-auto">
                        <div class="card-body pb-0">
                            <h5 class="card-title">Top 5 Workers </h5>
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Education</th>
                                    <th scope="col">Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for worker in top_5_workers %}
                                    <tr>
                                        <th scope="row">
                                            <a href="#"><img src="{% static 'img/worker-icon.png' %}" alt=""></a>
                                        </th>
                                        <td class="text-primary fw-bold">{{ worker.full_name }}</td>
                                        <td>{{ worker.email }}</td>
                                        <td>{{ worker.education_name }}</td>

                                        <td>
                                            {% if worker.status == "OCCUPIED" %}
                                                <span class="badge bg-success">
                                            {% elif worker.status == "FREE" %}
                                                <span class="badge bg-danger">
                                            {% endif %}
                                            {{ worker.status }}
                                            </span>
                                        </td>

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
                <div class="col-xxl-4 col-md-12">
                    <!-- Website Traffic -->
                    <div class="card">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Tasks count Per Category<span></span></h5>
                            <div id="TasksPerCategoriesChart" style="min-height: 400px;" class="echart"></div>
                            <script>
                                const barChartColors = [

                                    '#ff7f0e', // Orange
                                    '#2ca02c', // Green
                                    '#d62728', // Red
                                    '#9467bd', // Purple
                                    '#8c564b', // Brown
                                    '#e377c2', // Pink
                                    '#7f7f7f', // Gray
                                    '#bcbd22', // Olive
                                    '#17becf'  // Cyan
                                ];
                                let tasksJsonString = '{{ tasks_per_category|escapejs|safe }}';
                                let tasksParsedData = JSON.parse(tasksJsonString);
                                let tasksData = [];
                                let tasksCategories = [];


                                for (let item in tasksParsedData) {
                                    tasksCategories.push(tasksParsedData[item].name);
                                    tasksData.push(tasksParsedData[item].num_tasks);
                                }
                                console.log(tasksData)

                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#TasksPerCategoriesChart"), {
                                        series: [{
                                            data: tasksData,
                                        }],
                                        chart: {
                                            type: 'bar',
                                            height: 350
                                        },

                                        plotOptions: {
                                            bar: {
                                                borderRadius: 4,
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },

                                        xaxis: {
                                            categories: tasksCategories,
                                        },
                                        yaxis: [
                                            {
                                                labels: {
                                                    formatter: function (val) {
                                                        return val.toFixed(0);
                                                    }
                                                }
                                            }
                                        ],
                                        fill: {
                                            colors: ['#9467bd']
                                        }

                                    }).render();
                                });
                            </script>

                        </div>
                    </div><!-- End Website Traffic -->
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-8 col-md-12">
                    <div class="card top-selling overflow-auto">
                        <div class="card-body pb-0">
                            <h5 class="card-title"> Most 10 Requested Categories </h5>
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Tasks Count</th>
                                    <th scope="col">Workers Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for category in top_10_categories %}
                                    <tr>
                                        <th scope="row">
                                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-tags-fill"></i>
                                            </div>
                                        </th>
                                        <td class="text-primary fw-bold fs-5">{{ category.name }}</td>
                                        <td class="fs-5">{{ category.tasks_count }}</td>
                                        <td class="fs-5">{{ category.workers_count }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            {{ tasks_per_category.software }}

                            <h5 class="card-title">Workers count Per Categories</h5>
                            <div id="workersCountPerCategoriesChart"></div>

                            <script>
                                let workersJsonString = '{{ workers_per_category|escapejs|safe }}';
                                let workersParsedData = JSON.parse(workersJsonString);
                                let workersData = [];
                                let workersCategories = [];
                                for (let item in workersParsedData) {
                                    workersCategories.push(workersParsedData[item].name);
                                    workersData.push(workersParsedData[item].num_workers);
                                }
                                console.log(workersData)

                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#workersCountPerCategoriesChart"), {
                                        series: [{
                                            data: workersData,
                                        }],
                                        chart: {
                                            type: 'bar',
                                            height: 350
                                        },

                                        plotOptions: {
                                            bar: {
                                                borderRadius: 4,
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },

                                        xaxis: {
                                            categories: workersCategories,
                                        },
                                        yaxis: [
                                            {
                                                labels: {
                                                    formatter: function (val) {
                                                        return val.toFixed(0);
                                                    }
                                                }
                                            }
                                        ],

                                    }).render();
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main><!-- End #main -->


{% endblock content %}
