{% extends "dashboard-base.html" %}
{% load static %}

{% block content %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>ApexCharts</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item">Matching Statistics</li>

                </ol>
            </nav>
        </div><!-- End Page Title -->

        <p>Statistics and analysis of the last 30 algorithm executions.</p>

        <section class="section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Execution Time</h5>

                            <!-- Line Chart -->
                            <div id="lineChart"></div>

                            <script>
                                let timeDictJsonString = '{{ time_dict|escapejs|safe }}';
                                let timeDictParsedData = JSON.parse(timeDictJsonString);
                                let timeDictLabels = [];
                                let heuristicMatchingTime = [];
                                let maxMatchingTime = [];

                                for (let i = 0; i < timeDictParsedData.length; i++) {
                                    timeDictLabels.push(timeDictParsedData[i].graph_density.toString());
                                    heuristicMatchingTime.push(timeDictParsedData[i].heuristic_matching);
                                    maxMatchingTime.push(timeDictParsedData[i].max_matching);

                                }

                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#lineChart"), {
                                        series: [
                                            {
                                                name: "Max-Matching",
                                                data: maxMatchingTime
                                            },
                                            {
                                                name: "Heuristic-Matching",
                                                data: heuristicMatchingTime
                                            },

                                        ],
                                        chart: {
                                            height: 350,
                                            type: 'line',
                                            zoom: {
                                                enabled: false
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'straight'
                                        },
                                        grid: {
                                            row: {
                                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                                opacity: 0.5
                                            },
                                        },
                                        xaxis: {
                                            title: {
                                                text: 'Graph Density'
                                            },
                                            categories: timeDictLabels,
                                        },
                                        yaxis: {
                                            title: {
                                                text: 'Run-Time (s)'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Accuracy</h5>
                            <div id="columnChart"></div>

                            <script>
                                let accuracyDictJsonString = '{{ accuracy_dict|escapejs|safe }}';
                                let accuracyParsedData = JSON.parse(accuracyDictJsonString);
                                let accuracyLabels = [];
                                let heuristicMatching = [];
                                let maxMatching = [];

                                for (let i = 0; i < accuracyParsedData.length; i++) {
                                    accuracyLabels.push(accuracyParsedData[i].graph_density.toString());
                                    heuristicMatching.push(accuracyParsedData[i].heuristic_matching);
                                    maxMatching.push(accuracyParsedData[i].max_matching);
                                }
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#columnChart"), {
                                        series: [

                                            {
                                                name: 'Max Matching',
                                                data: maxMatching
                                            },
                                            {
                                                name: 'Heuristic Matching',
                                                data: heuristicMatching
                                            },
                                        ],
                                        chart: {
                                            type: 'bar',
                                            height: 350
                                        },
                                        plotOptions: {
                                            bar: {
                                                horizontal: false,
                                                columnWidth: '55%',
                                                endingShape: 'rounded'
                                            },
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            show: true,
                                            width: 2,
                                            colors: ['transparent']
                                        },
                                        xaxis: {
                                            title: {
                                                text: 'Graph Density'
                                            },
                                            categories: accuracyLabels,
                                        },
                                        yaxis: {
                                            title: {
                                                text: 'Matching Result'
                                            }
                                        },
                                        fill: {
                                            opacity: 1
                                        },
                                        tooltip: {
                                            y: {
                                                formatter: function (val) {
                                                    return "$ " + val + " thousands"
                                                }
                                            }
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Column Chart -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xxl-12 col-md-12">
                    <div class="card top-selling overflow-auto">

                        <div class="card-body pb-0">
                            <h5 class="card-title">Execution History <span>| Last 15 Records</span></h5>
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Graph Density</th>
                                    <th scope="col">Heuristic Algorithm</th>
                                    <th scope="col">Heuristic Matching</th>
                                    <th scope="col">Execution Time (s)</th>
                                    <th scope="col">Max Matching</th>
                                    <th scope="col">Total Execution Time (s)</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for row in rows %}
                                    <tr>
                                        <td class="text-primary "> {{ row.graph_density }} %</td>
                                        <td class="text-primary "> {{ row.used_heuristic_algorithm }}</td>
                                        <td class="text-primary "> {{ row.heuristic_matching }}</td>
                                        <td class="text-danger "> {{ row.heuristic_execution_time }}</td>
                                        <td class="text-primary"> {{ row.max_matching }}</td>
                                        <td class="text-danger fw-bold"> {{ row.max_matching_execution_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </section>

    </main><!-- End #main -->

{% endblock content %}
