{% extends "dashboard-base.html" %}
{% load static %}

{% block content %}
<main id="main" class="main">

    <section class="section">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Heuristic Algorithms</h5>
                        <form action="{% url 'management:presentation' %}" method="post">
                            {% csrf_token %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="modified_greedy" id="modifiedGreedy"
                                       value="modifiedGreedy" checked disabled>
                                <label class="form-check-label mb-3" for="modifiedGreedy">
                                    Modified Greedy
                                </label>
                            </div>
                            <div class="row mb-5">
                                <label class="col-sm-6 col-form-label"><strong>Random Greedy</strong></label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="random_greedy" id="red12"
                                               value="red12" checked>
                                        <label class="form-check-label" for="red12">Red12</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="random_greedy"
                                               id="monteCarlo"
                                               value="monte_carlo">
                                        <label class="form-check-label" for="monteCarlo">
                                            Monte Carlo
                                        </label>
                                    </div>


                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="random_greedy" id="minGreedy"
                                               value="min_greedy">
                                        <label class="form-check-label" for="minGreedy">
                                            Min Greedy
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="random_greedy"
                                               id="simpleGreedy"
                                               value="simple_greedy">
                                        <label class="form-check-label" for="simpleGreedy">
                                            Simple Greedy
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="row mb-5">
                                <label class="col-sm-6 col-form-label"><strong>Min Degree</strong></label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="min_degree" id="dynamic"
                                               value="dynamic" checked>
                                        <label class="form-check-label" for="dynamic">Dynamic</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="min_degree" id="static"
                                               value="static">
                                        <label class="form-check-label" for="static">
                                            Static
                                        </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="min_degree" id="limit"
                                               value="limit">
                                        <label class="form-check-label" for="limit">
                                            Limit
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <button class="btn btn-danger" type="submit">Execute</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Execution Statistics</h5>

                        <!-- Line Chart -->
                        <div id="lineChart"></div>

                        <script>
                            document.addEventListener("DOMContentLoaded", () => {
                                new ApexCharts(document.querySelector("#lineChart"), {
                                    series: [
                                        {
                                            name: "Modified Greedy",
                                            data: [100, 200, 300, 400, 500, 600, 700, 800, 90]
                                        },
                                        {
                                            name: "Min Degree",
                                            data: [10, 20, 300, 400, 50, 600, 700, 80, 90]
                                        },
                                        {
                                            name: "Random Greedy",
                                            data: [10, 20, 30, 40, 50, 60, 70, 80, 90]
                                        },

                                    ],
                                    chart: {
                                        height: 350,
                                        type: 'line',
                                        zoom: {
                                            enabled: false
                                        }
                                    },
                                    dataLabels: {
                                        enabled: false
                                    },
                                    stroke: {
                                        curve: 'straight'
                                    },
                                    grid: {
                                        row: {
                                            colors: ['#f3f3f3', 'transparent'],
                                            opacity: 0.5
                                        },
                                    },
                                    xaxis: {
                                        title: {
                                            text: 'Time (ms)'
                                        },
                                        categories: ['0.001', '0.002', ' 0.003', '0.004', '0.005', '0.006', '0.007', '0.008', '0.009'],
                                    },
                                    yaxis: {
                                        title: {
                                            text: 'Matching Value'
                                        }
                                    },
                                }).render();
                            });
                        </script>
                        <!-- End Line Chart -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>
{% endblock content %}



