{% extends "dashboard-base.html" %}
{% load static %}

{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item active">Task Assigner</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row">
                <h4>Workers</h4>
                <div class="col-xxl-1 col-md-1"></div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Free<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-2"></div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Occupied<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-workspace"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-1 col-md-1"></div>
            </div>
            <br>
            <div class="row">
                <h4>Tasks</h4>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Open<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-top"></i></div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Progress<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-split"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Done<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-bottom"></i></div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Graph / Algorithm Actions</h5>
                        <form class="row g-3">
                            <div class="col-md-6">
                                <div class="d-grid gap-2">
                                    <select class="form-select" aria-label="Default select">
                                        <option value="1">Optimized Greedy</option>
                                        <option value="2">Simple Greedy</option>
                                        <option value="3">Randomized Rounding</option>
                                        <option value="4">Monte Carlo</option>
                                        <option value="5">Static Min Degree</option>
                                        <option value="6">Dynamic Min Degree</option>
                                        <option value="7">Limit Min Degree</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-primary" disabled type="button">Execute Matching</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-dark" disabled type="button">Build Graph</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-warning" disabled type="button">
                                        Delete Assigned Tasks
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="d-grid gap-2 ">
                                    <button class="btn btn-danger" disabled type="button">Mark Tasks Done</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <h4>Last Execution Result</h4>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Execution Time<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-alarm-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">0.442 s</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Matching Result<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-arrows-collapse"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">145</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Used Heuristic Algorithm<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-bezier"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">Limit Min Degree</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}


finish-all-tasks
build-graph
execute


