{% extends "dashboard-base.html" %}
{% load static %}

{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item active">Task Assigner</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row">
                <h4>Workers</h4>

                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Free<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ free_workers }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-2 col-md-2"></div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Occupied<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-person-workspace"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ occupied_workers }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-1 col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <h4>Tasks</h4>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Open<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-top"></i></div>
                                <div class="ps-3">
                                    <h6>{{ open_tasks }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Progress<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-split"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>{{ progress_tasks }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Done<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-hourglass-bottom"></i></div>
                                <div class="ps-3">
                                    <h6>{{ done_tasks }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <h4>Last Execution Result</h4>
                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Density<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-percent"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">{{ graph_density }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Execution Time<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-alarm-fill"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">{{ execution_time }} s</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Matching Result<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-intersect"></i>
                                </div>
                                <div class="ps-3">
                                    <h6 class="text-danger">{{ matching }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-md-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Used Heuristic Algorithm<span></span></h5>
                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-bezier"></i>
                                </div>
                                <div class="ps-3">
                                    <p class="text-danger fs-5"><strong>{{ used_heuristic_algorithm }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Graph / Algorithm Actions</h5>
                        <form method="post" action="{% url 'management:task-assigner' %}" class="row g-3">
                            {% csrf_token %}
                            <input type="hidden" id="actionValue" name="action" value="">
                            <div class="col-md-3">
                                <div class="d-grid gap-2">
                                    <select name='heuristic_algorithm'
                                            class="form-select"
                                            aria-label="Default select">
                                        <option value="modified_greedy">Modified Greedy</option>
                                        <option value="simple_greedy">Simple Greedy</option>
                                        <option value="randomized_rounding">Randomized Rounding</option>
                                        <option value="monte_carlo">Monte Carlo</option>
                                        <option value="static_min_degree">Static Min Degree</option>
                                        <option value="dynamic_min_degree">Dynamic Min Degree</option>
                                        <option value="limit_min_degree">Limit Min Degree</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-5">
                                <div class="d-grid gap-2 ">
                                    <button
                                            class="btn btn-primary"
                                            onclick="setActionValue('execute_algorithm')"
                                            type="submit">Execute Algorithm
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-7"></div>
                            <div class="col-md-3">
                                <div class="d-grid gap-2 ">
                                    <button
                                            class="btn btn-warning"
                                            onclick="setActionValue('clear_assigned_tasks')"
                                            type="submit">
                                        Clear Assigned Tasks
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="d-grid gap-2 ">
                                    <button
                                            class="btn btn-danger"
                                            onclick="setActionValue('mark_tasks_done')"
                                            type="submit">
                                        Mark Tasks Done
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        function setActionValue(value) {
            document.getElementById('actionValue').value = value;
        }
    </script>
{% endblock content %}



