{% extends "dashboard-base.html" %}


{% block content %}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Tasks Table</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item"><a href={% url 'management:dashboard' %}>Dashobard</a></li>
                    <li class="breadcrumb-item">Tasks</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col" data-sortable="false">#</th>
                                    <th scope="col" data-sortable="false">Status</th>
                                    <th scope="col" data-sortable="false">Title</th>
                                    <th scope="col" data-sortable="false">Deadline</th>
                                    <th scope="col" data-sortable="false">Assigned To</th>
                                    <th scope="col" data-sortable="false">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for task in object_list %}
                                    <tr>
                                        <th scope="row">{{ task.id }}</th>
                                        <td>
                                            {% if task.status == "OPEN" %}
                                                <span class="badge bg-warning">  {{ task.status }} </span>
                                            {% elif task.status == "DONE" %}
                                                <span class="badge bg-success">Done</span>
                                            {% elif task.status == "PROGRESS" %}
                                                <span class="badge bg-danger">Progress</span>
                                            {% endif %}
                                        </td>

                                        <td>
                                            {{ task.title }}
                                        </td>

                                        <td>
                                            {{ task.deadline }}
                                        </td>

                                        <td>
                                            {% if task.assigned_to %}
                                                {{ task.assigned_to }}
                                            {% else %}
                                                No one
                                            {% endif %}
                                        </td>

                                        <td>
                                            <a href={% url 'tasks:details' task.id %}>
                                                <i class="bi bi-eye-fill"></i>
                                            </a>&nbsp;&nbsp;


                                            <a href={% url 'tasks:update' task.id %}>
                                                <i class="bi bi-pencil-fill"></i>
                                            </a>&nbsp;&nbsp;

                                            <a href={% url 'tasks:delete' task.id %}>
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main><!-- End #main -->

{% endblock content %}
