{% extends "dashboard-base.html" %}
{% load static %}



{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={% url 'home' %}>Home</a></li>
                    <li class="breadcrumb-item">Accounts</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div>

        <section class="section profile">
            <div class="row">
                <div id="notifications">
                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                         role="alert">
                        A simple success alert with solid color—check it out!
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                         role="alert">
                        A simple success alert with solid color—check it out!
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>

                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>

                </div>

                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            {% if user.profile.logo %}
                                <img src="{% get_media_prefix %}{{ user.profile.logo }}" alt="Logo"/>
                            {% else %}
                                <img src="{% static 'img/default-company-logo.png' %}" alt="Profile">
                            {% endif %}

                            <h2>Kevin Anderson</h2>
                            <h3>Web Designer</h3>
                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered">

                                <li class="nav-item">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview">Overview
                                    </button>
                                </li>

                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                                        Profile
                                    </button>
                                </li>


                                <li class="nav-item">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password">Change Password
                                    </button>
                                </li>

                            </ul>
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                    <h5 class="card-title">About</h5>
                                    <p class="small fst-italic">
                                        {% if  user.profile.about %}
                                            {{ user.profile.about }}
                                        {% else %}
                                            -
                                        {% endif %}

                                    </p>

                                    <h5 class="card-title">Company Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Name</div>
                                        <div class="col-lg-9 col-md-8">
                                            {% if  user.profile.name %}
                                                {{ user.profile.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-lg-9 col-md-8">
                                            {% if  user.profile.address %}
                                                {{ user.profile.address }}
                                            {% else %}
                                                -
                                            {% endif %}

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8">
                                            {% if  user.profile.phone_number %}
                                                {{ user.profile.phone_number }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">
                                            {% if  user.profile.contact_email %}
                                                {{ user.profile.contact_email }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </div>
                                    </div>

                                </div>

                                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                    <form method="post"
                                          id="editProfile"
                                          action="{% url 'accounts:edit-profile' %}"
                                          enctype="multipart/form-data">

                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <label class="col-md-4 col-lg-3 col-form-label"> Company Logo </label>
                                            <div class="col-md-8 col-lg-9">

                                                {% if user.profile.logo %}
                                                    <img id='profileImage'
                                                         src="{% get_media_prefix %}{{ user.profile.logo }}"
                                                         alt="Logo"/>


                                                {% else %}
                                                    <img id='profileImage'
                                                         src="{% static 'img/default-company-logo.png' %}"
                                                         alt="Profile">
                                                {% endif %}


                                                <div class="pt-2">
                                                    <button class="btn btn-primary btn-sm"
                                                            title="Upload new profile image"
                                                            onclick="uploadPhoto();">
                                                        <i class="bi bi-upload"></i>
                                                    </button>
                                                    <button href="#"
                                                            class="btn btn-danger btn-sm"
                                                            title="Remove my profile image"
                                                            onclick="removePhoto();">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </div>
                                                <input
                                                        type='file'
                                                        id="imgInp"
                                                        class="d-none"
                                                        accept=".jpg, .jpeg, .png"/>
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="fullName" class="col-md-4 col-lg-3 col-form-label">
                                                Name</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_profile_form.name }}

                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_profile_form.about }}
                                            </div>
                                        </div>


                                        <div class="row mb-3">
                                            <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_profile_form.contact_email }}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_profile_form.phone_number }}
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="Address"
                                                   class="col-md-4 col-lg-3 col-form-label">Address</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_profile_form.address }}

                                            </div>
                                        </div>


                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </form>

                                </div>

                                <div class="tab-pane fade pt-3" id="profile-change-password">
                                    <form method="POST" id="changePassword"
                                          action="{% url 'accounts:change-password' %}">

                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <label for="old_password" class="col-md-4 col-lg-3 col-form-label">Current
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_password_form.old_password }}
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="new_password1" class="col-md-4 col-lg-3 col-form-label">New
                                                Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_password_form.new_password1 }}
                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label for="new_password2" class="col-md-4 col-lg-3 col-form-label">Re-enter
                                                New Password</label>
                                            <div class="col-md-8 col-lg-9">
                                                {{ change_password_form.new_password2 }}
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#changePassword').submit(function (event) {
                event.preventDefault();  // Prevent the default form submission
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (response) {
                        alert = $('#result-notification')
                        alert.class = 'alert alert-success bg-success text-light border-0 alert-dismissible fade show';
                        alert.role = 'alert';
                        alert.text = ' A simple success alert with solid color—check it out!';
                        alert.append(`<button
                                        type="button"
                                        class="btn-close btn-close-white"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>`)
                        $('#changePassword').trigger('reset');  // Reset the form
                    },
                    error: function (err) {

                        alert = $('#result-notification');
                        alert.delay(500).fadeIn('slow', function () {
                            alert.removeClass();
                            alert.attr('role', 'alert');
                            alert.text('A simple success alert with solid color—check it out!');

                            alert.append(`<button
                                        type="button"
                                        class="btn-close btn-close-white"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>`)
                            $('#changePassword').trigger('reset');
                            alert.addClass('alert alert-success bg-success text-light border-0 alert-dismissible fade show')
                        });


                        alert.delay(5000).fadeOut('slow', function () {
                            alert.removeClass();
                            alert.removeAttr('role');
                            alert.text('');
                            alert.empty();
                        });


                    }
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#editProfile').submit(function (event) {
                let data = new FormData();

                data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
                data.append("img", $("input[id^='imgInp']")[0].files[0]);
                data.append("name", $("#name").val());
                data.append("about", $("#about").val());
                data.append("address", $("#address").val());
                data.append("phone_number", $("#phone_number").val());
                data.append("contact_email", $("#contact_email").val());


                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: data,
                    processData: false,
                    contentType: false,
                    mimeType: "multipart/form-data",
                    success: function (response) {
                        alert = $('#result-notification')
                        alert.class = 'alert alert-success bg-success text-light border-0 alert-dismissible fade show';
                        alert.role = 'alert';
                        alert.text = ' A simple success alert with solid color—check it out!';
                        alert.append(`<button
                                        type="button"
                                        class="btn-close btn-close-white"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>`)
                        $('#changePassword').trigger('reset');  // Reset the form
                    },
                    error: function (err) {

                        alert = $('#result-notification');
                        alert.delay(500).fadeIn('slow', function () {
                            alert.removeClass();
                            alert.attr('role', 'alert');
                            alert.text('A simple success alert with solid color—check it out!');

                            alert.append(`<button
                                        type="button"
                                        class="btn-close btn-close-white"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>`)
                            $('#changePassword').trigger('reset');
                            alert.addClass('alert alert-success bg-success text-light border-0 alert-dismissible fade show')
                        });


                        alert.delay(5000).fadeOut('slow', function () {
                            alert.removeClass();
                            alert.removeAttr('role');
                            alert.text('');
                            alert.empty();
                        });
                    }
                });
            });
        });
    </script>

    <script>
        let imgInp = $("#imgInp");

        function uploadPhoto() {
            imgInp.click();
        }

        function removePhoto() {
            $('#profileImage').attr('src', "{% static 'img/default-company-logo.png' %}");
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $('#profileImage').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        imgInp.change(function () {
            readURL(this);
        });
    </script>
{% endblock extra_js %}



