<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'management:dashboard' %}">
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#educations-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-mortarboard-fill"></i><span>Educations</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="educations-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'educations:list' %}">
                        <i class="bi bi-circle"></i><span>Table</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Educations Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#categories-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-tags-fill"></i><span>Categories</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="categories-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'categories:list' %}">
                        <i class="bi bi-circle"></i><span>Table</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Categories Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person-badge-fill"></i><span>Workers</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

                <li>
                    <a href="{% url 'workers:create' %}">
                        <i class="bi bi-circle"></i><span>Add new worker</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'workers:list' %}">
                        <i class="bi bi-circle"></i><span>Table</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Workers Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-wrench-adjustable"></i><span>Tasks</span><i

                    class="bi bi-chevron-down ms-auto"></i>
            </a>

            <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'tasks:create' %}">
                        <i class="bi bi-circle"></i><span>Add new Task</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'tasks:list' %}">
                        <i class="bi bi-circle"></i><span>Table</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Tasks Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-graph-up"></i><span>Max Matching </span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'management:task-assigner' %}">
                        <i class="bi bi-circle"></i><span>Tasks Assigner</span>
                    </a>
                </li>


                <li>
                    <a href="{% url 'management:matching-history' %}">
                        <i class="bi bi-circle"></i><span>Matching History</span>
                    </a>
                </li>

            </ul>
        </li><!-- End Charts Nav -->

        <li class="nav-heading">Pages</li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'home' %}">
                <i class="bi bi-house"></i>
                <span>Home</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'f-a-q' %}">
                <i class="bi bi-question-circle"></i>
                <span>F.A.Q</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'contact-us' %}">
                <i class="bi bi-envelope"></i>
                <span>Contact</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'accounts:logout' %}">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Logout</span>
            </a>
        </li><!-- End Login Page Nav -->


    </ul>

</aside><!-- End Sidebar-->
