{% load static %}
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1>

                <a href={% url 'home' %}> <img src="{% static 'img/logo.png' %}" alt="Profile">&nbsp; Max Matching</a>
            </h1>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'management:dashboard' %}">Dashboard</a></li>
                <li><a class="nav-link scrollto" href="{% url 'f-a-q' %}">FAQ</a></li>
                <li><a class="nav-link scrollto" href="{% url 'contact-us' %}">Contact</a></li>



                {% if not user.is_authenticated %}
                    <li><a class="getstarted scrollto" href="{% url 'accounts:signin' %}">Login</a></li>
                {% else %}
                    <li><a class="getstarted scrollto" href="{% url 'accounts:profile' %}">

                        {% if  user.profile.name %}
                            {{ user.profile.name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </a>
                    </li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>